<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>Pod images dashboard</title>
  <link rel="icon" type="image/png" href="/images/monitor-icon.png" />
  <link href="//stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" rel="stylesheet">
  <style>
    body {
      padding-top: 54px;
    }
    @media (min-width: 992px) {
      body {
        padding-top: 56px;
      }
    }
  </style>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
  <div class="container">
    <a class="navbar-brand" href="#">K8S pod images dashboard</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home
            <span class="sr-only">(current)</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="nodes">Nodes</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<!-- Page Content -->
<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="mt-5">Namespaces</h1>
      <br/>
      <ul class="list-unstyled">
        <div class="row">
        {{range .}}
          <div class="col-md-6">
            <h3>{{.Namespace}}</h3>
            <hr/>
            {{range .Pods}}
            <b>{{.Name}}</b> <span class="badge badge-light">{{.Date}}</span><br/>
                {{range .Containers}}
                    <span class="badge badge-{{.Status.Color}}">{{.Status.Name}}</span>
                    {{if not .Status.IsReady}}
                    <span class="badge badge-danger">Not Ready</span>
                    {{end}}
                    {{if .HasRepositoryURL}}
                    <a href="{{.RepositoryURL}}" target="_blank">{{.Image}}</a>
                    {{else}}
                        {{.Image}}
                    {{end}}
                    <br/>
                    {{if .Status.HasMessage}}
                    <p class="text-danger">{{.Status.Message}}</p>
                    {{end}}
                {{end}}
                    <br/>
              {{end}}
              <br/>
          </div>
        {{end}}
        </div>
      </ul>
    </div>
  </div>
</div>
<script src="//ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="//stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
<script src="//stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.bundle.min.js"></script>
</body>
</html>
