<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>Pod images dashboard</title>
  <link rel="icon" type="image/png" href="/images/monitor-icon.png" />
  <link href="//stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" rel="stylesheet">
  <style>
    body {
      padding-top: 54px;
    }
    @media (min-width: 992px) {
      body {
        padding-top: 56px;
      }
    }
  </style>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
  <div class="container">
    <a class="navbar-brand" href="#">K8S pod images dashboard</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="nodes">Nodes
            <span class="sr-only">(current)</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<!-- Page Content -->
<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="mt-5">Nodes</h1>
      <br/>
      <ul class="list-unstyled">
        <div class="row">
            {{range .}}
            <div class="col-sm-6">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">{{.Name}}</h4>
                  <p class="card-text">
                    {{ range $key, $value := .Labels }}
                    <span class="badge badge-info">{{$key}}: {{$value}}</span>
                    {{end}}
                    <br/>
                    {{ range $key, $value := .Labels }}
                    <span class="badge badge-light">{{$key}}: {{$value}}</span>
                    {{end}}
                    <br/><br/>
                    <b>IP:</b>
                    <a href="#" data-toggle="tooltip" data-placement="top" title="Click to copy" onClick="copyNodeIP('{{.IP}}')">
                        {{.IP}}
                    </a><br/>
                    <b>K8s version:</b> {{.KubeVersion}}
                  </p>
                </div>
              </div>
            </div>
            {{end}}
        </div>
      </ul>
    </div>
  </div>
</div>
<script src="//ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="//stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
<script src="//stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.bundle.min.js"></script>
<script src="//unpkg.com/popper.js/dist/umd/popper.min.js"></script>
<script>
    function copyNodeIP(ip) {
      var $temp = $("<input>");
      $("body").append($temp);
      $temp.val(ip).select();
      document.execCommand("copy");
      $temp.remove();
    }
  $(function () {
    $('[data-toggle="tooltip"]').tooltip()
  })
</script>
</body>
</html>
