<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>Pod images dashboard</title>
  <link rel="icon" type="image/png" href="/images/monitor-icon.png" />
  <link href="//stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" rel="stylesheet">
  <style>
    body {
      padding-top: 54px;
    }
    @media (min-width: 992px) {
      body {
        padding-top: 56px;
      }
    }
  </style>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
  <div class="container">
    <a class="navbar-brand" href="/">K8S pod images dashboard</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/nodes">Nodes</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<!-- Page Content -->
<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="mt-5">{{.Name}}</h1>
      <span class="badge badge-info">{{.Namespace}}</span>
      <span class="badge badge-light">Deployed {{.Date}}</span><br/>
      <br/>
      <ul class="list-unstyled">
        <div class="row">
            <div class="col-md-6">
            <h3>Containers</h3><br/>
            {{range .Containers}}
                <span class="badge badge-{{.Status.Color}}">{{.Status.Name}}</span>
                {{if not .Status.IsReady}}
                <span class="badge badge-danger">Not Ready</span>
                {{end}}
                {{if .HasRepositoryURL}}
                    <a href="{{.RepositoryURL}}" target="_blank">{{.Image}}</a>
                {{else}}
                    {{.Image}}
                {{end}}
                <br/>
                {{if .Status.HasMessage}}
                <p class="text-danger">{{.Status.Message}}</p>
                {{end}}
                <br/>
            {{end}}
            <br/>
            <h3>Actions</h3><br/>
            <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#triggerRollingUpdate">
                Force an arbitrary rolling-update
            </button>

            <!-- Modal -->
            <div class="modal fade" id="triggerRollingUpdate" tabindex="-1" role="dialog" aria-labelledby="triggerRollingUpdate" aria-hidden="true">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Arbitrary rolling-update</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            This action will try to match the parent deployment specification and trigger a rolling-update by adding
                            the env <code>LAST_FORCED_ROLLING_UPDATE</code> with the current time.
                            <br/><br/>
                            Kubernetes will then launch new pod(s) with a rolling-update strategy. It can be considered as a way to <b>restart</b> without any <b>down time</b>.
                        </div>
                        <div class="modal-footer" id="rolling-update-action-status">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                            <button type="button" class="btn btn-warning" id="confirm-rolling-update">Proceed</button>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </div>
      </ul>
    </div>
  </div>
</div>
<script src="//ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="//stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
<script src="//stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.bundle.min.js"></script>
<script src="//unpkg.com/popper.js/dist/umd/popper.min.js"></script>
<script>
    $(document).ready(function () {
        function updateActionStatus(message) {
            $('#rolling-update-action-status').html(message);
        }

        $( "#confirm-rolling-update" ).click(function() {
            updateActionStatus('Please wait');

            $.post( "/pod/actions/rolling-update/{{.Namespace}}/{{.Name}}", function( data ) {
                updateActionStatus('<div class="text-success">Rolling update in progress! Redirecting in 2 seconds...</div>');
                setTimeout(function () {
                    window.location.href = "/";
                }, 2000);
            }).fail(function () {
                updateActionStatus('<div class="text-danger">Sorry, something went wrong. Please check with your administrator.</div>')
            });
        });
    });
</script>
</body>
</html>
